body{
  margin: 0;
  background-color: #4a4a49;
}

#drum-machine{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px) 50px;
  gap: 20px;
  align-items: center;
  justify-content:center;
}

#container{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

.drum-pad{
  cursor: pointer;
  color: #ffe175;
  display: flex;
  height:100px;
  width:100px;
  border-radius:25px;
  align-items: center;
  justify-content:center;
  background-color:gray;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.1s;
  -webkit-tap-highlight-color: transparent;
}

.drum-pad:hover{
  /* background-color:rgb(151, 148, 148) !important; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px, rgba(0, 0, 0, 0.23) 0px 0px 0px;
  transform: translate(0px,6px); */
  transform: scale(1.05); 
}

#Q{
  grid-column:1/2;
  grid-row:1/2;
}
#W{
  grid-column:2/3;
  grid-row:1/2;
}
#E{
  grid-column:3/4;
  grid-row: 1/2;
}

#A{
  grid-column:1/2;
  grid-row:2/3;
}
#S{
  grid-column:2/3;
  grid-row:2/3;
}
#D{
  grid-column:3/4;
  grid-row:2/3;
}

#Z{
  grid-column:1/2;
  grid-row:3/4;
}
#X{
  grid-column:2/3;
  grid-row:3/4;
}
#C{
  grid-column:3/4;
  grid-row:3/4;
}

#display{
  grid-column:1/4;
  grid-row:4/5;
  color: #ffe175;
  border-radius:25px;
  display:flex;
  align-items: center;
  justify-content:center;
  align-self: center;
  justify-self:center;
  background-color: gray;
  height:50px;
  width:300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.1s;
}

@media (max-width: 600px) {

  #drum-machine{
    grid-template-columns: repeat(3, 65px);
    grid-template-rows: repeat(3, 65px) 50px;
    gap: 20px;
  }

  #display{
    height:37.5px;
    width:225px;
  }
  .drum-pad{
    height:65px;
    width:65px;
  }
  
}